.stack {
    padding: 100px 0 0;
    &__wrapper {
        margin: 50px 10%;
        position: relative;
        .slider {
            li {
                text-align: center;
                min-height: 200px;
                padding: 10px;
            }
            &__item {
                box-shadow: 10px 10px 10px $black-shadow;
                border: 1px solid $black-shadow;
                padding: 30px 20px;
                font-size: 20px;
                color: $black;
                border-radius: 10px;
                &:hover {
                    background-color: $orange;
                    svg {                   
                        polygon {
                            stroke: $black;
                        }
                        &.stroke {
                        stroke: $black;                        
                            .figma {
                                stroke: $black;
                            }
                        }
                        path {
                            fill: $black;
                        }
                    }
                    p {
                        color: $white;
                    }
                    .slider__line {
                        background-color: $black;
                    }
                }
                svg {
                    width: 100%;
                    height: 50px;                    
                    polygon {
                        stroke: $orange;
                    }
                    &.stroke {
                        stroke: $orange;                        
                        transform: scale(1.35);                        
                        circle {
                            fill:none;
                            stroke: $orange;
                        }
                        .figma {
                            fill: none;
                            stroke: $orange;
                            stroke-width: 12;
                        }
                    }
                    &.pug {
                        transform: scale(1.5);
                    }
                    &.node {
                        transform: scale(1.2);
                    }
                    path {                 
                        fill: $orange;
                        &.transparent {
                            fill: none;
                        }
                    }                    
                }
                p {
                    margin-top: 20px;
                }
            }
            &__line {
                width: 30px;
                margin: 10px auto 0;
                height: 1px;
                background-color: $orange;
            }
            &__prev, &__next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: transparent;
                border: 1px solid transparent;
                border-radius: 100%;
                width: 45px;
                height: 45px;
                padding: 3px;
                &:hover, &:active {
                    box-shadow: 0px 1px 5px $light-blue;
                    cursor: pointer;
                    img {
                        transform: scale(1.1);
                    }
                }
            }
            &__prev {                
                left: -7%;
            }
            &__next {
                right: -7%;
            }
        }
    }
}

@media (max-width: 992px) {
    .stack {
        &__wrapper {
            .slider {
                &__item {
                    box-shadow: 5px 5px 5px $black-shadow;
                    border: 1px solid $black-shadow;
                    padding: 30px 20px;
                    font-size: 15px;
                }
                &__prev, &__next {
                    width: 40px;
                    height: 40px;
                    &:hover, &:active {
                        box-shadow: none;
                        cursor: pointer;
                        img {
                            transform: scale(1);
                        }
                    }
                }
                &__prev {                
                    left: -8%;
                }
                &__next {
                    right: -8%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .stack {
        padding: 50px 0 0;
        &__wrapper {
            .slider {
                &__prev, &__next {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media (max-width: 586px) {
    .stack {
        padding: 0;
        &__wrapper {
            .slider {
                &__prev, &__next {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}